.user-profiles-list {
  border-bottom: 1px solid #414042;
}

.listing {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 1px solid #414042;
}

.listing div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

.listing div a {
  color: #e1b243;
  text-decoration: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #414042;
}

.listing div a:hover {
  box-shadow: 0 0 5px 0 #e1b243;
}

.search-field-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

.search-field-container .search-field {
  color: #414042;
  border: 1px solid #414042;
  border-radius: 1rem;
  padding: 1rem;
}
