header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #414042;
    color: #e1b243;
  }
  
  header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .header-search-form {
    display: flex;
    flex-direction: row;
    height: 75%;
  }
  
  .header-search-form input {
    border-radius: .5rem;
    color: #414042;
    padding-left: 1rem;
  }

  .header-search-form a {
    color: #e1b243;
    text-decoration: none;
    margin-left: 1rem;
  }

  .header-home {
    text-decoration: none;
    color: #e1b243
  }